<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.Buy2Mapper">

	<select id="getList" resultType="org.zerock.domain.Buy2VO">
	<![CDATA[
		select * from buy2 where bno > 0 
	]]>	
	</select>

	<insert id="insert">
		insert into buy2 (b_name, b_phone, b_phone2, b_adress, b_yo, bno)
		values (#{bName}, #{bPhone}, #{bPhone2}, #{bAdress}, #{bYo}, seq_buy2.nextval)
	</insert>

	<insert id="insertSelectKey">

		<selectKey keyProperty="bno" order="BEFORE"
			resultType="long">
			select seq_buy2.nextval from dual
		</selectKey>

		insert into buy2 (b_name, b_phone, b_phone2, b_adress, b_yo, bno)
		values (#{bName}, #{bPhone}, #{bPhone2}, #{bAdress}, #{bYo}, seq_buy2.nextval)
	</insert>

	<select id="read" resultType="org.zerock.domain.Buy2VO">
		select * from buy2 where bno =	#{bno}
	</select>


	<delete id="delete">
		delete from buy2 where bno = #{bno}
	</delete>


	<update id="update">
		update buy2
		set
		 b_name=#{bName},
		 b_phone=#{bPhone},
		 b_phone2=#{bPhone2},
		 b_adress=#{bAdress},
		 b_yo=#{bYo}
		where bno =	#{bno}
	</update>

</mapper>
