<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.zerock.mapper.MemberMapper">

	<resultMap type="org.zerock.domain.MemberVO" id="memberMap">
		<id property="userId" column="userid"/>
		<result property="userId" column="userid"/>
		<result property="userName" column="username"/>
		<result property="userPw" column="userpw"/>
		<result property="userEmail" column="useremail"/>
		<result property="userGender" column="usergender"/>
		<result property="number1" column="num1"/>
		<result property="number2" column="num2"/>
		<result property="number3" column="num3"/>
		<result property="userAddress1" column="useraddress1"/>
		<result property="userAddress2" column="useraddress2"/>
		<result property="enabled" column="enabled"/>
		<result property="regDate" column="regdate"/>
		<result property="updateDate" column="updatedate"/>
		<result property="mno" column="MNO"/>
		<collection property="authList" resultMap="authMap"/>
	</resultMap>
	
	<resultMap type="org.zerock.domain.AuthVO" id="authMap">
		<result property="userId" column="userid"/>
		<result property="userAuth" column="userauth"/>
	</resultMap>
	
	<select id="read" resultMap="memberMap">
		select *
		from membervo mem left outer join authvo auth 
				on mem.userid=auth.userid
		where mem.userid=#{userId}
	</select>
	
	<insert id="insertMember">
		insert into membervo(userid,username,userpw,useremail,usergender,num1,num2,num3,useraddress1,useraddress2,regdate, mno)
			values(#{userId},#{userName},#{userPw},#{userEmail},#{userGender},#{number1},#{number2},#{number3},#{userAddress1},#{userAddress2},sysdate, seq_member.nextval)		
	</insert>
	<insert id="insertMemberAuth">
		insert into authvo(userid,userauth)
			values(#{userId},'ROLE_MEMBER')
	</insert>
	
	<select id="checkID">
		select userid from membervo where userid=#{userId}
	</select>
	
 	
	<select id="getList"  resultMap="memberMap" resultType="org.zerock.domain.MemberVO">
		select * from membervo m, authvo a where m.userid = a.userid 
		order by MNO desc
	</select>
	
	<select id="getmno"  parameterType="Long" resultMap="memberMap" resultType="org.zerock.domain.MemberVO">
		select * from membervo m, authvo a where m.userid = a.userid and MNO = #{mno}
	</select>

	<delete id="delete">
		delete from membervo where mno = #{mno}
	</delete>
	
	<update id="update" >
		update membervo
		set 
		username = #{userName},
		usergender = #{userGender},
		useremail = #{userEmail},
		useraddress1 = #{userAddress1},
		useraddress2 = #{userAddress2},
		num1 = #{number1},
		num2 = #{number2},
		num3 = #{number3}
		where mno = #{mno}
	</update>
	
	<update id="updateAuth">
		update authvo set userauth = #{userAuth} where userId = #{userId}
	</update>


</mapper>

